***5.1***

In [ ]:
import sqlite3

conn = sqlite3.connect("test.db")
cursor = conn.cursor()

cursor.execute("SELECT sqlite_version();")
version = cursor.fetchone()

print("SQLite version:", version[0])

conn.close()

***5.2***

In [ ]:


conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

print("Đã kết nối SQLite trong bộ nhớ")

conn.close()

***5.3***

In [ ]:


conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
)
""")

print("Đã tạo bảng student")

conn.commit()
conn.close()

***5.4***

In [ ]:
import sqlite3

conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
INSERT INTO student (id, name, age)
VALUES 
(1, 'An', 20),
(2, 'Binh', 21),
(3, 'Chi', 19)
""")

conn.commit()

cursor.execute("SELECT * FROM student")
rows = cursor.fetchall()

print("Danh sách sinh viên:")
for row in rows:
    print(row)

conn.close()

***5.5***

In [ ]:


conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
INSERT INTO student (id, name, age)
VALUES 
(1, 'An', 20),
(2, 'Binh', 21),
(3, 'Chi', 19)
""")

conn.commit()

cursor.execute("SELECT * FROM student")
rows = cursor.fetchall()

print("Danh sách sinh viên:")
for row in rows:
    print(row)

conn.close()

***5.6***

In [ ]:


conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
UPDATE student
SET age = 22
""")

conn.commit()

print("Đã cập nhật toàn bộ tuổi = 22")

conn.close()

***5.7***

In [ ]:


conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
UPDATE student
SET age = 22
""")

conn.commit()

print("Đã cập nhật toàn bộ tuổi = 22")

conn.close()

***5.8***

In [ ]:


conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
DELETE FROM student
WHERE id = 2
""")

conn.commit()

print("Đã xóa sinh viên có id = 2")

conn.close()

***5.9***

In [ ]:
import pandas as pd

df = pd.read_csv("region.csv")
print(df)

***5.10***

In [ ]:


conn = sqlite3.connect("product.db")
cursor = conn.cursor()

# Tạo bảng product
cursor.execute("""
CREATE TABLE IF NOT EXISTS product (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    price REAL NOT NULL,
    amount INTEGER NOT NULL
)
""")
conn.commit()

def show_products():
    cursor.execute("SELECT * FROM product")
    rows = cursor.fetchall()
    print("Danh sách sản phẩm:")
    for r in rows:
        print(r)

def add_product(name, price, amount):
    cursor.execute(
        "INSERT INTO product(name, price, amount) VALUES (?, ?, ?)",
        (name, price, amount)
    )
    conn.commit()

def search_product(name):
    cursor.execute(
        "SELECT * FROM product WHERE name LIKE ?",
        ('%' + name + '%',)
    )
    for r in cursor.fetchall():
        print(r)

def update_product(id, price, amount):
    cursor.execute(
        "UPDATE product SET price=?, amount=? WHERE id=?",
        (price, amount, id)
    )
    conn.commit()

def delete_product(id):
    cursor.execute("DELETE FROM product WHERE id=?", (id,))
    conn.commit()

# ===== TEST =====
add_product("Laptop", 1500, 10)
add_product("Mouse", 20, 100)

show_products()

print("\nTìm sản phẩm 'Lap':")
search_product("Lap")

update_product(1, 1400, 8)
delete_product(2)

print("\nSau cập nhật:")
show_products()

conn.close()

***5.111***

In [ ]:
import sqlite3

conn = sqlite3.connect("ql_nhan_vien.db")
cursor = conn.cursor()

# Bật khóa ngoại
cursor.execute("PRAGMA foreign_keys = ON")

# Tạo bảng PHONG
cursor.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    ten_phong TEXT NOT NULL
)
""")

# Tạo bảng NHAN_VIEN
cursor.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    dia_chi TEXT NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY (id_phong) REFERENCES PHONG(id)
)
""")
conn.commit()

# Thêm phòng ban
cursor.execute("INSERT INTO PHONG (ten_phong) VALUES ('IT')")
cursor.execute("INSERT INTO PHONG (ten_phong) VALUES ('Kế toán')")

# Thêm nhân viên
cursor.execute("""
INSERT INTO NHAN_VIEN (ho_ten, tuoi, dia_chi, luong, id_phong)
VALUES ('Nguyen Van A', 25, 'Ha Noi', 1000, 1)
""")

cursor.execute("""
INSERT INTO NHAN_VIEN (ho_ten, tuoi, dia_chi, luong, id_phong)
VALUES ('Tran Thi B', 30, 'TP HCM', 1200, 2)
""")

conn.commit()

# Hiển thị nhân viên + phòng
cursor.execute("""
SELECT NV.ho_ten, NV.tuoi, NV.luong, P.ten_phong
FROM NHAN_VIEN NV
JOIN PHONG P ON NV.id_phong = P.id
""")

print("Danh sách nhân viên:")
for row in cursor.fetchall():
    print(row)

conn.close()